<table>
<tr><td style="border:none"><div class="signaturtext"><span class="dot cell-NG"></span>Naturvidenskabelige grundfag</div></td>
<td style="border:none"><div class="signaturtext"><span class="dot cell-TL"></span>Teknologiske linjefag</div></td></tr>
<tr><td style="border:none"><div class="signaturtext"><span class="dot cell-PA"></span>Projekter og almene fag</div></td>
<td style="border:none"><div class="signaturtext"><span class="dot cell-VF_old"></span>Valgfrie fag</div></td></tr>
</table>
